extends layouts/main-layout.pug 

block content 
    script. 
        var postId = '!{postId}'
    
    h5 Create a Thread 
    +CreatePostForm(userLoggedIn)
    .postsContainer 
    
    +createPostModals(userLoggedIn)

block scripts 
    script(src="/js/threadPage.js") 